<%- include ("../../partials/header.ejs") %>

  <body>
    <%- include ("../../partials/navbar.ejs") %>
      <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-primary"> criar novo artigo</a>
        <hr>

        <table class="table table-bordered">
          <thead class="bg-primary">
            <tr>
              <th class="text-white">Id</th>
              <th class="text-white">Título</th>
              <th class="text-white">Slug</th>
              <th class="text-white">Categoria</th>
              <th class="text-white">Ações</th>
            </tr>
          </thead>

          <tbody>
            <% articles.forEach(articles=> { %>
              <tr>
                <th>
                  <%= articles.id %>
                </th>
                <th>
                  <%= articles.title %>
                </th>
                <th>
                  <%= articles.slug %>
                </th>
                <th>
                  <%= articles.category.title %>
                </th>
                <th class="w-25 text-center">



                  <form onsubmit="corfirmDelete(event,this)" class="d-inline" action="/articles/delete" method="post">
                    <input type="hidden" name="id" value="<%= articles.id%>">
                    <button type="submit" class="btn btn-danger">excluir</button>
                  </form>

                </th>

              </tr>
              <% }) %>

          </tbody>
        </table>
      </div>


      <script>
        function corfirmDelete(event, form) {
          event.preventDefault();
          let decision = confirm("Deseja realmente deletar esse artigo?");

          if (decision) {
            form.submit();
          }


        };
      </script>
  </body>
  <%- include ("../../partials/footer.ejs") %>